:root{
  --color-header:#424242;
  --color-card:#ffffff;
  --color-text:#ffffff;
  --color-background:#fafafa;
  --border-button-input:#0288d1;
  --box-shadow-card:rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --background-input:#eceff1;
  --background-button:#0277bd;

}
*{
  margin: 0;
  padding: 0;
  font-family:'PT Sans Caption', sans-serif;
}

body{
  background: var(--color-background);
}

.header{
  background: var(--color-header);
  color: var(--color-card);
  padding: 10px;
}

div.container{
  width: 80%;
  margin: auto;
}

div.columns-2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card-center{
  width: 60%;
  margin-top: 3rem;
}

div.card{
  background:var(--color-card);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-card);
  display: grid;
  grid-column: auto;
}

div .card h1 {
  text-align: center;
}

.register form{
  display: grid;
  grid-column: auto;
}

.campos-user{
  margin: 2px;
  border: 1px solid var(--background-input);
  border-radius: .6rem;
  outline: none;
  padding: .7rem;
  margin: 0.9rem;
}

.btn{
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  display: block;
  padding: 10px;
  border: none;
}

.btn-primary{
  background:var(--background-button);
  border-radius: 0.6rem;
  color:var(--color-text);
}

.table-wraper{
  margin-left: 2rem;
  border: 1px solid coral ;
}
.col-ms-8{
  text-align: center;
  margin-bottom: 1rem;
  border: 1px solid var(--color-header);
}
